#write {
  display: none;
  font-weight: bold;
}
.info-hover:hover {
  background: #E6CCA9;
  opacity:0.9;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
}

.info-radius {
  border-radius: 10px;
}

.info-popup-color {
  background-color: #DEBA9D !important;
}

.info-main {
  display: grid;
  background-color: #FFF8F3 !important;
  position: relative;
  width: 100vw;
  height: 70vw;
}

.info-grid {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: 220px auto;
  grid-gap: 0px;
}

.info-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 90%
}

.info-input-space {
  margin-left: 5px;
  margin-bottom: 15px;
}

.info-p-space {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.info-check-space {
  margin-top: 20px;
}

.info-sidebar-frame {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 2px 14px;
  width: 100%;
  overflow: hidden;
}

/*______________________________________________________________________*/
/*사이드바에 관한 css*/
.info-sidebar {
  background-color: #F9E4C8 !important;
  grid-column: 1 / 2;
}

.info-sidebar-grid {
  display: grid;
  position: relative;
  width: 220px;
  height: 100%;
  margin-right: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 90px 90px minmax(300px, auto);
}

.info-sidebar-user {
  position: absolute;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  min-height: 27px;
  font-size: 14px;
  padding: 2px 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.info-sidebar-icon1 {
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 3px;
  color: rgba(55, 53, 47, 0.6);
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.info-sidebar-icon2 {
  user-select: none;
  transition: background 20ms ease-in 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  flex-shrink: 0;
  margin-top: 1px;
  color: rgb(55, 53, 47);
}

.info-sidebar-user3 {
  flex: 1 1 auto;
  white-space: nowrap;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-sidebar-user4 {
  display: flex;
  align-items: center;
  justify-content: start;
}

.info-sidebar-user5 {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  margin-top: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-sidebar-NameDate {
  position: absolute;
  grid-row: 2 / 3;
  display: grid;
  width: 100%;
}

.info-sidebar-Name {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 2px 14px;
  padding-left: 40px;
  width: 100%;
  overflow: hidden;
}

.info-sidebar-Date {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 2px 14px;
  width: 100%;
  padding-left: 32px;
  overflow: hidden;
}

.info-sidebar-conven {
  position: absolute;
  grid-row: 3 / 4;
  display: grid;
  width: 100%;
}

.info-sidebar-conven-tool {
  display: flex;
  align-items: center;
  height: 22.7px;
  padding: 2px 14px;
  overflow: hidden;
}

.info-sidebar-ToList {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 2px 14px;
  padding-left: 16px;
  width: 100%;
  overflow: hidden;
}

.info-sidebar-showinfo {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 2px 14px;
  width: 100%;
  overflow: hidden;
}

.info-sidebar-writeType {
  position: absolute;
  grid-row: 4 / 5;
  display: grid;
  width: 100%;
  margin-top: 20px;
  grid-template-rows: 22.7px 31px 31px repeat(auto-fill, minmax(20%, auto));
  grid-template-columns: 1fr;
}

.info-sidebar-repeat-hover {
  display: none;
  align-items: center;
  margin-left: 45px;
}

.info-sidebar-special-hover {
  display: none;
  align-items: center;
  margin-left: 30px;
}

.info-sidebar-Hidden {
  display: none;
  color: inherit;
  text-decoration: none;
  width: 100%;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
}

.info-sidebar-Hidden2 {
  display: flex;
  align-items: center;
  min-height: 27px;
  font-size: 14px;
  padding: 2px 14px 2px 28px;
  width: 100%;
}

.info-sidebar-hiddenIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 22px;
  height: 18px;
  margin-right: 4px;
  position: relative;
}

.info-sidebar-hiddenIcon2 {
  font-size: 12px;
  font-weight: 500;
  color: rgba(55, 53, 47, 0.6);
}

.info-sidebar-repeatText {
  flex: 1 1 auto;
  white-space: nowrap;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*______________________________________________________________________*/
.info-contents {
  grid-column: 2 / 3;
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 128px minmax(300px, auto);
  background-color: #FFF8F3;
}

.info-contents-nameDate {
  grid-row: 1 / 2;
  position: absolute;
  display: flex;
  align-items: center;
  min-height: 27px;
  font-size: 14px;
  padding: 2px 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.info-contents-header {
  grid-row: 2 / 3;
  display: grid;
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin-left: 96px;
  margin-bottom: 8px;
  margin-top: 30px;
  border-bottom: 1px solid gray;
}

.info-contents-header-icon {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 3px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  margin: 5px 6px 0px 3px;
  align-self: flex-start;
  pointer-events: auto;
}

.info-contents-header-icon2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
}

.info-contents-header-icon3 {
  height: 36px;
  width: 36px;
  font-size: 36px;
  line-height: 1.1;
  margin-left: 0px;
  color: black;
}

.info-contents-header-icon4 {
  position: relative;
  width: 36px;
  height: 36px;
}

.info-contents-header-p {
  color: rgb(55, 53, 47);
  font-weight: 600;
  line-height: 1.2;
  font-size: 35px;
  cursor: text;
  display: flex;
  align-items: center;
}

.info-contents-header-p2 {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 3px 2px;
}

.info-contents-header-explain {
  max-width: 100%;
  width: 780px;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 14px;
  padding-left: 6px;
  padding-bottom: 4px;
  padding-top: 3px;
}

.info-contents-write-frame {
  grid-row: 3 / 4;
  display: grid;
  min-width: 100%;
  overflow: hidden;
  float: left;
  padding-left: 96px;
  padding-right: 96px;
}

.info-contents-write-grid {
  display: grid;
  position: relative;
  padding-bottom: 180px;
  min-width: 100%;
  grid-template-columns: auto;
  grid-template-rows: 42px minmax(200px, auto);
}

.info-contents-write-add {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 11px;
}

.info-contents-write-sort {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  grid-template-columns: repeat(auto-fill, minmax(33.33%, auto));
  padding-top: 7px;
  padding-bottom: 7px;
}

.info-contents-wirte-sort1 {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 260px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  margin-bottom: 0px;
  box-sizing: content-box;
  flex-shrink: 0;
  justify-content: space-between;
}

.info-contents-wirte-sort2 {
  user-select: none;
  overflow: hidden;
  padding: 3px 6px 3px 3px;
  border-radius: 3px;
  max-width: 190px;
}

.info-contents-wirte-sort3 {
  display: inline-flex;
  align-items: center;
  flex-shrink: 1;
  min-width: 0px;
  height: 18px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
  line-height: 120%;
  color: rgb(93, 23, 21);
  background: rgb(255, 226, 221);
  margin: 0px;
}

.info-contents-wirte-sort4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-contents-write {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(auto-fill, minmax(33.33%, auto));
}

.info-contents-write1 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  box-sizing: content-box;
  width: auto;
  height: max-content;
}

.info-contents-add-hidden {
  display: none;
}

.checkup-header input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.checkup-header label {
  position: relative;
  float: right;
  color: #C8C8C8;
}

.checkup-header label:before {
  margin: 5px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.checkup-header input:checked~label:before {
  color: #FFC107;
}

.checkup-header label:hover:before {
  color: #ffdb70;
}

/*______________________________________________________________________*/
/*신규환자 클릭시 나오는 팝업창*/
.Info-modal {
  z-index: 3;
  display: none;
  padding-top: 200px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.Info_new {
  display: grid;
  border-radius: 7px;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 43px 70px 70px 70px;
}

.Info_new-color {
  background-color: #FAEEE0 !important;
}

.Info_new-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Info_new-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.Info_new-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.Info_new-button {
  border-radius: 7px;
  margin-top: 13px;
  width: 50%;
  height: 60%;
  text-align: center;
  border: 0;
  color: black;
  background-color: #F5E8C7 !important
}

/*수술/시술을 눌렀을 때 나오는 팝업창*/
.Info-new-case1-modal {
  z-index: 3;
  display: none;
  padding-top: 270px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.Info-new-case1-grid {
  display: grid;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 43px 150px;
}

.Info_new-case1-button {
  border-radius: 7px;
  margin-top: 28px;
  width: 70%;
  height: 60%;
  text-align: center;
  border: 0;
  color: black;
  background-color: #F5E8C7 !important
}

.Info-new-case1-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Info-new-case2-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/*수술/시술 정보를 눌렀을 때 나오는 팝업창*/
.Info-new-case1-1-modal {
  z-index: 4;
  display: none;
  padding-top: 200px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.Info-new-case1-1-grid {
  display: grid;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 43px 82px 82px 82px 50px 80px;
}

.Info-new-case1-1a {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Info-new-case1-1b {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.Info-new-case1-1c {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.Info-new-case1-1d {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.Info-new-case1-1e {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.Info-new-case1-1f {
  margin-left: 40px;
  margin-right: 40px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

/*검사정보를 눌렀을 때 나오는 팝업창*/
.checkup-grid {
  display: grid;
  margin: auto;
  height: 100%;
  position: relative;
  padding: 0;
  outline: 0;
  grid-template-rows: minmax(80px, auto) minmax(80px, auto);
}

.checkup-grid1 {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
  display: grid;
  margin-right: 20px;
}

.checkup-grid2 {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  display: grid;
  margin-right: 20px;
  margin-bottom: 15px;
}

.checkup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  box-sizing: content-box;
  flex-shrink: 0;
}

.checkup-checkbox-grid {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 3px;
  height: 14px;
  width: 14px;
  margin-top: 10px;
  padding: 0px;
}

.Info-new-case1-p {
  margin-top: 15px;
  margin-left: 20px;
  text-align: left;
}

.Info-new-case1-button {
  border-radius: 7px;
  margin-top: 0px;
  width: 30%;
  height: 80%;
  text-align: center;
  border: 0;
  background-color: #F5E8C7 !important
}

/*--------------------------------------------------------------*/
/*증상 조절을 눌렀을 때 나오는 창*/
.Info-basicInfo {
  margin: auto;
  height: 100%;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  margin-right: 150px;
}

.Info-basicInfo-grid {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px dashed rgba(55, 53, 47, 0.6);
}

.Info-basicInfo-case2-1 {
  grid-column: 1 / 2;
  margin-right: 20px;
}

.Info-basicInfo-case2-2 {
  grid-column: 2 / 3;
  margin-right: 20px;
}

.Info-basicInfo-case2-3 {
  grid-column: 3 / 4;
  margin-right: 20px;
}

.Info-new-case2-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.Info-new-case2-5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

/*--------------------------------------------------------------------*/
/*검사를 눌렀을 때 나오는 창*/
.Info-new-case3-modal {
  z-index: 3;
  display: none;
  padding-top: 200px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.Info-new-case3-grid {
  display: grid;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 500px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 43px 120px 70px 70px;
}

.Info-new-case3-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Info-new-case3-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.Info-new-case3-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.Info-new-case3-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

/*______________________________________________________________________*/
/*규칙적인 상황들에 관련된 상황*/
.info-regular {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-top: 30px;
  padding-left: 9%;
  padding-right: 9%;
  background-color: #F9E4C8 !important;
  border-right: 1px solid #DBD0C0;
}

.info-regular-contents {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.info-regular-button {
  border-radius: 7px;
  width: 90%;
  height: 60%;
  text-align: center;
  border: 0;
  background-color: #F5E8C7 !important
}

/*______________________________________________________________________*/
/*특별한 상황이 닥쳤을 때의 창*/
.info-special {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-auto-rows: minmax(100px, auto);
  padding-top: 30px;
  padding-left: 9%;
  padding-right: 9%;
  background-color: #F9E4C8 !important;
  border-right: 1px solid #DBD0C0;
}

.info-special-contents {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.info-special-button {
  border-radius: 7px;
  text-align: center;
  border: 0;
  background-color: #F5E8C7 !important
}

/*______________________________________________________________________*/
/*특별한 상황이 닥쳤을 때의 창*/
.info_basic-option-grid {
  display: grid;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
  grid-template-rows: 43px;
  grid-auto-rows: minmax(150px, auto);
}

div.info_basic-option-grid > div:nth-child(1) {
  grid-row: 1 / 2;
}

div.info_basic-option-grid > div:nth-child(2) {
  grid-row: 2 / 3;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  background-color: #FFF8F3;
}

div.info_basic-option-grid > div:nth-child(3) {
  grid-row: 3 / 4;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #FFF8F3;
}

.info_basic-option-button {
  align-items: center;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
  box-sizing: content-box;
}

.info_basic-option-button2 {
  display: inline;
  user-select: none;
  padding: 3px 6px 3px 3px;
  border-radius: 3px;
  margin-right: 0px;
}

.info_basic-option-button3 {
  display: inline-flex;
  align-items: center;
  min-width: 0px;
  height: 23px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 15px;
  line-height: 120%;
  color: rgb(93, 23, 21);
  background-color: #FAEEE0 ;
  margin: 0px;
  margin-bottom: 15px;
}

.info_basic-option-button4 {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info_basic-option-cart-frame {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
}

.info_basic-option-cart {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  border: 3px solid gray;
  padding: 10px;
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.info_basic-option-cart2 {
  grid-column: 1 / 2;
}

.info_basic-option-cartReset {
  grid-column: 2 / 3;
  margin: auto;
}

.info_basic-option-cart-button {
  user-select: none;
  padding: 3px 6px 3px 3px;
  border-radius: 10px;
  margin-right: 0px;
}

.info_basic-option-cart-button2 {
  align-items: center;
  min-width: 0px;
  height: 50px;
  width: 60px;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 15px;
  line-height: 120%;
  color: rgb(117, 81, 57);
  background-color: #FAEEE0 ;
}

.info_basic-option-button4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 16px;
}
